.login-form {
    
    border:   1px solid lightseagreen;
    border-radius: 6px;
    box-shadow: 0 0 4px lightseagreen;
}
.card-body {
    padding-top: 80px !important;
}
.card {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.card .header{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}