.place {
    margin-top: 10px !important;
    border: none; box-shadow: 0 0 12px rgba(0,0,0,0.2);
}
.place>.card-header {
    background: darkslateblue;
    color: #fff;
}
.section-header {
    background: #2C3E50   ;
    color: #fff;
}
.section-header:hover{
    background: crimson !important;
   
}
.section-header:hover:before{
    content: " ";
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px; left: 9px;
    border-bottom: 10px solid #crimson;
   
}
.section-header:before {
    content: " ";
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px; left: 9px;
    border-bottom: 10px solid #2C3E50;
}
.img {
    box-shadow: 1px 0 10px rgba(0,0,0,0.6);
    height: 200px;
    width: 200px;
    margin: 5px;
}
.comments {
    border: 1px solid lightseagreen;
    border-radius: 5px;
    padding: 5px;
    max-height: 500px !important;
    overflow-y: scroll !important;
}
