
<nav class="navbar navbar-expand-lg navbar-light profile-navbar fixed-top nav-tabs">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">placeReview</a>
      <ul class="navbar-nav mt-2 mt-lg-0">
        <!-- <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink='/home' >Home </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink='/profile/recent' [routerLinkActive]="['active']">
            <i class="fa fa-globe" aria-hidden="true"></i> recent
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/profile/places' [routerLinkActive]="['active']">
              <i class="fa fa-map-marker" aria-hidden="true"></i> places
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/profile/myPlaces' [routerLinkActive]="['active']">
            <i class="fa fa-bookmark" aria-hidden="true"></i> my places
            
          </a>
        </li>
        <li class="nav-item" *ngIf="this.app.user && this.app.user.type=='normal'">
          <a class="nav-link" routerLink='/profile/addPlace' [routerLinkActive]="['active']">
            <i class="fa fa-plus-square" aria-hidden="true"></i> add
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right ml-auto">
        <li >
            <div class="dropdown mr-2">
              <button class="dropdown-toggle btn btn-outline-primary" data-toggle="dropdown" role="button" aria-expanded="false"> 
                  <!-- <i class="fa fa-user" aria-hidden="true"></i>  -->
                  <img [src]="this.app.getResourceUrl(this.app.user.dp)" 
                      class="img-rounded" style="width: 25px; height: 25px;" />
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-cart " role="menu">
                  <li class="dropdown-item">
                    
                  <span data-toggle="modal" data-target="#user-details" 
                    id="user-details-modal-trigger" >
                    <i class="fa fa-user" aria-hidden="true"></i> user details
                  </span>
                  </li>
                  <li class="dropdown-item">
                    <div class="divider"></div>
                    <input type="file" name="file" (change)="this.app.onDpFileChanged($event)" accept="image/*"/>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-outline-dark" (click)="this.app.onDpChange()">change profile pic</button>
                  </li>
                  <li>
                      
                  </li>
                  <li class="dropdown-item">
                    <button type="button" class="btn btn-outline-danger" (click)="this.app.logout()">
                      <i class="fa fa-sign-out" aria-hidden="true"></i>  logout
                    </button>
                  </li>
                  <li class="divider"></li>
                  
              </ul>
            </div>
          </li>
        <li>
        <!-- search box -->
          <form class="form-inline m-2 ml-2 my-2 my-lg-0 search-container">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            
          </form>
        </li>
        
      </ul>
    </div>
  </nav>
  <user-details>

  </user-details>