.profile-navbar {
    /* border-bottom: 1px solid lightseagreen; */
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    background: #fff;
}
.profile-navbar .active{
    border:1px solid lightseagreen;
    border-radius: 4px;
}
.search-container {
    position: relative;
}
.search-results-container {
    background: #fff;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    bottom: -70px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.6);
}
.search-results-container:before{
  content: " ";
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -10px; left: 9px;
  border-bottom: 10px solid #fff;
}